.nav {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.checs {
  height: 40px;
  margin-left: 50px;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* Navigation links */
.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    position: relative;
    left: 220px;
   
    
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    /* border-top: 1px solid #444; */
  }
}
